name: Extract and push metrics

on:
  schedule:
  # Run every hour
  - cron: '0 * * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3

    - name: Install golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.22'

    - name: Extract and push metrics for nebraska
      env: 
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
        GITHUB_ORG: flatcar 
        GITHUB_REPOS: nebraska
        PUSHGATEWAY_URL: ${{ secrets.PUSHGATEWAY_URL }}
        PUSHGATEWAY_USERNAME: ${{ secrets.PUSHGATEWAY_USERNAME }}
        PUSHGATEWAY_PASSWORD: ${{ secrets.PUSHGATEWAY_PASSWORD }}
      run: go run main.go

    - name: Extract and push metrics for headlamp
      env: 
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
        GITHUB_ORG: kubernetes-sigs
        GITHUB_REPOS: headlamp
        IMAGE_GITHUB_ORG: headlamp-k8s
        PUSHGATEWAY_URL: ${{ secrets.PUSHGATEWAY_URL }}
        PUSHGATEWAY_USERNAME: ${{ secrets.PUSHGATEWAY_USERNAME }}
        PUSHGATEWAY_PASSWORD: ${{ secrets.PUSHGATEWAY_PASSWORD }}
      run: go run main.go

    - name: Extract and push metrics for inspektor-gadget
      env: 
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
        GITHUB_ORG: inspektor-gadget 
        GITHUB_REPOS: inspektor-gadget
        PUSHGATEWAY_URL: ${{ secrets.PUSHGATEWAY_URL }}
        PUSHGATEWAY_USERNAME: ${{ secrets.PUSHGATEWAY_USERNAME }}
        PUSHGATEWAY_PASSWORD: ${{ secrets.PUSHGATEWAY_PASSWORD }}
      run: go run main.go
